<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Index Page</title>
  <meta name="description" content="Index Page">
</head>
<body>
<h3>Index Page - Microservices Assignment 2</h3>
<p>Open the links below in new tabs...</p><br>
<p><b>Streaming data metrics:</b></p>
<ul>
<li><a href = '/posts'>View blog post stream metrics</a></li>
<li><a href = '/vids' >View video post stream metrics</a></li>
</ul>
<br><br>
<p><b>Flask server monitoring with Prometheus & Grafana:</b></p>
<ul>
<li><a href = 'http://localhost:30001/d/pprtQGlMz' >View Grafana chart dashboard</a>
<br><br>(may take up to 30 sec. before chart data starts appearing.)</li>
</ul>

</body>
</html>
